.trade-winds-regular {
  font-family: "Trade Winds", system-ui;
  font-weight: 400;
  font-style: normal;
}


.bungee-spice-regular {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.shop-name {
  font-size: 45px;
  margin-left: 15px;
}

.product-box {
  display: flex;
  flex-direction: column;
}


.product-title {
  font-size: 20px;
  text-decoration: none;
  color: black; 
}


.product-title:hover {
  color: gold;
  text-decoration: underline;
}


.product-img {
  width: calc(column);
  margin: 10px 0px;
}

.product-img:hover {
  border: 10px solid gold;
  margin: .25px 0px;
}

.price {
  font-size: 30px;
  font-weight: 700;
}


.title {
  display: flex;
  margin-left: 100px;
}

